{% block footer %}
<footer>
    <div class="icons">
        <a href="https://www.facebook.com/profile.php?id=100004975201768" class="icon facebook-icon"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/sanchooz1" class="icon twitter-icon"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/_alexmaksimov_/" class="icon instagram-icon"><i class="fab fa-instagram"></i></a>
    </div>
    <p>© 2021 by Aleksandr Maksimov, Smolensk, Russia</p>
    <p>maksimov4598@mail.ru</p>
</footer>
{% endblock %}