{% include 'header.html' %}

{% block title %}
<title>My projects</title>
{% endblock %}

{% block content %}
<h1 class="title">My projects</h1>
<div class="projects">
    {% for project in projects %}
    <div class="project">
        <h4>{{ project.title }}</h4>
        <p>{{ project.description }}</p>
        <p>Link: <a href="{{ project.link }}">{{ project.title }}</a></p>
    </div>
    {% endfor %}
    <h4 class="title">Finally this website has been created by me :)</h4>
</div>
{% endblock %}

{% include 'footer.html' %}